body, ul {
  margin: 0;
  font-family: 'Baloo Tammudu 2',cursive;
  font-size: 18px;
  color: #49494b;
}
nav {
  background-color: #f1fdee;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
  position: fixed;
  width: 100%;
}
ul {
  display: flex;
}
.ancho-maximo {
  max-width: 1100px;
  border: solid 2px blue;
}
li {
  margin: 20px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #2e2e31;
}
.nav-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #f568b3;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}
.presentacion {
  display: flex;
  justify-content: center;
  background-color: #f8aeae;
}

.presentacion-seccion-1 {
  display: flex;
  background-color: #cbcbec;
  padding: 50px;
}
.portada-presentacion {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 h1 {
  color: #80ff63;
  font-size: 80px;
  line-height: 0px;
}
 h2 {
  font-size: 40px;
}
.derribandomuros {
  width: 600px;
  height: 400px;
}
.imagen-portada-derribando-muros {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .presentacion-seccion-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    display: none;
  }
}

.misconocimientos-seccion-2,
.misproyectos-seccion-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #38f5e2;*/
   background-color: #f1d9d9;
}
.conocimientos,
.proyectos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: #f3bc57;*/
  padding: 50px;
}
.tarjetacontenedora {
  max-width: 885px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f1d9d9;
}
.tarjetas {
  width: 260px;
  height: 230px;
  background: #ffffff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjetas:hover{
  border: 1px solid #16c52b;
}
.icono {
  width: 75px;
  height: 75px;
}
.frase {
  background-color: #80ff63;
  display: flex;
  justify-content: center;
}
.jim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.jim .fas{
  font-size: 45px;
  color: white;
}
.frase p,
h4 {
  color: white;
  font-size: 30px;
}
.contenedor-proyectos {
  max-width: 1150px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f1d9d9;
}
.portada-proyecto {
  width: 330px;
  height: 350px;
  margin: 25px;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.portada-proyecto:hover{
  border: 1px solid rgb(0, 255, 64);
}
.imagenes {
  width: 280px;
  height: 280px;
}

.formulario-de-contacto-seccion-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7ecd7;
  padding:40px;
}
.formulario {
  background-color: #ff6347;
  display: flex;
  justify-content: center;
  border:solid 1px rgb(119, 114, 114);
  border-radius: 20px;
  box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
}
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.link-redes {
  text-decoration: none;
  color: #2e2e31;
}
.titulo-redes {
  line-height: 0px;
  padding: 10px;
}
.link-redes .fab, .fas{
  color: #16c52b;
  padding: 15px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.control-mediano {
  width: calc(50% - 10px);
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  background-color: #cbcbec;
  min-height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
}

.form-control textarea {
  background-color: #cbcbec;
  min-height: 40px;
  border-radius: 20px;
  padding: 10px;
}

.enviar {
    background: blue;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

footer{
    background-color: chartreuse;
}
.foot {

}
.foot-link{
    text-decoration: none;
}

@media screen and (max-width: 500px) {
  .control-mediano {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .formulario {
    flex-direction: column;
  }
}
