body{
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 20px;
    color: #2e2e31;
}
nav{
    background-color: #f1fdee;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
    position: fixed;
    width: 100%;
}
ul{
    display: flex;
}
.ancho-maximo {
  width: 1100px;
}
li{
    margin: 20px;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: #2e2e31;
}
.nav-button{
    text-decoration: none;
    color: #ffffff;
    background-color:rgb(245, 104, 179);
    align-self: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 30px;
}
.presentacion{
    display: flex;
    justify-content: center;
    background-color: #f8aeae;
}
.seccion-1{
    display:flex;
    background-color: #cbcbec;
    padding: 50px;
}
.portada{
    width: 700px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
h1{
    color:#80FF63;
    font-size: 80px;
    line-height: 0px;
}
h2{
    font-size: 40px;
}
.derribandomuros{
    width: 600px;
    height: 400px;
}
.imagen-derribando-muros{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1100px){
    .seccion-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    nav{
        display: none;
    }
}

.misconocimientos, .misproyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40e0d0;
}
.conocimientos, .proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5deb3;
    padding: 50px;
   
}
.tarjetacontenedora{
    max-width: 885px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1d9d9;  
}
.tarjetas {
  width: 260px;
  height: 230px;
  background: #ffffff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono {
  width: 75px;
  height: 75px;
}
.frase{
    background-color:#80FF63;
}
.jim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.blog{
    width: 50px;
    height: 50px;
}
.frase p, h4{
    color: white;
    font-size: 30px;
}
.contenedor-proyectos{
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1d9d9;  
}
.portada-proyecto{
    width: 330px;
    height: 350px;
    margin: 25px;
    border:1px solid red;
    border-radius: 10px;
}
.imagenes{
    width: 280px;
    height: 280px;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7ecd7;
}
.formulario{
    width: 1100px;
    height: 700px;
    background-color: #ff6347;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 500px;
    height: 550px;
    background-color: #e7a8f0;
    border:1px solid #3d3df5 
}