body,
ul {
  margin: 0;
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 18px;
  color: #49494b;
}
nav {
  background-color: #f1fdee;
  box-shadow: 0 0 20px 0 #c9f59ed5;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 1100px;
}
nav a:focus {
  box-shadow: 0 0 20px 0 rgb(245, 104, 179);
  border-radius: 10px;
}
.ancho-maximo {
  max-width: 1100px;
}
li {
  margin: 20px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #2e2e31;
}
.nav-button {
  text-decoration: none;
  color: #49494b;
  background-color: #94ec3bd5;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 30px;
  border: solid 2px #f568b3;
  align-self: flex-start;
}
.nav-button:hover {
  background-color: #f568b3;
  color: #ffffff;
  border: solid 2px #94ec3bd5;
}
.portada-presentacion .nav-button {
  text-decoration: none;
  color: #ffffff;
  background-color: #f568b3;
  /* se puede resumir asi:
  padding: 8px 18px; */
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 30px;
  border: solid 2px #94ec3bd5;
  /* innecesario, su contenedor no tiene flex */
  align-self: flex-start;
}
.portada-presentacion .nav-button:hover {
  background-color: #94ec3bd5;
  border: solid 2px #f568b3;
}
.presentacion {
  display: flex;
  justify-content: center;
  background-color: #fa7fc1;
  min-height: 100vh;
}

.presentacion-seccion-1 {
  display: flex;
  padding: 50px;
}
.portada-presentacion {
  /* al tener flex esta orden se ignora, el elemento ocupa el 50% de su espacio al estar al lado de la imagen */
  width: 100%;
  /* preferible que el alto este dado por los elementos dentro del contenedor, el padding y el margin */
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  color: #62f51e;
  font-size: 80px;
  line-height: 0px;
}
h2 {
  font-size: 40px;
}
.derribandomuros {
  /* mismo comentario que en portada-presentacion. recorda usar guiones en tus nombres de clase */
  width: 100%;
  max-width: 600px;
  max-height: 500px;
}
.imagen-portada-derribando-muros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1098px) {
  .presentacion-seccion-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
}

.misconocimientos-seccion-2,
.misproyectos-seccion-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1d9d9;
  /* innecesario, su contenido es mas que 100vh */
  min-height: 100vh;
}
.conocimientos,
.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  max-width: 400px;
}
.tarjetacontenedora {
  max-width: 885px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f1d9d9;
  padding-bottom: 50px;
}
@media screen and (max-width: 880px) {
  .tarjetacontenedora {
    justify-content: center;
  }
}
.tarjetas {
  width: 260px;
  height: 230px;
  background: #ffffff;
  border: 2px solid #d8dbe7;
  border-radius: 10px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tarjetas:hover {
  border: 2px solid #94ec3bd5;
}
.icono {
  width: 75px;
  height: 75px;
}
.frase {
  background-color: #f568b3;
  display: flex;
  justify-content: center;
}
.jim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  padding: 50px 25px;
}
.jim {
  font-size: 45px;
  color: white;
}

.jim .fa-quote-right {
  background: none;
  color: white;
}
.frase p,
h4 {
  color: white;
  font-size: 30px;
}
.contenedor-proyectos {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1d9d9;
  padding-bottom: 40px;
}
@media screen and (max-width: 1094px) {
  .contenedor-proyectos {
    justify-content: center;
  }
}
.portada-proyecto {
  width: 315px;
  height: 350px;
  margin: 23px;
  border: 2px solid #f568b3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.portada-proyecto:hover {
  border: 2px solid #94ec3bd5;
}
/* tus imagenes no deberian tener ancho fijo */
.imagenes {
  width: 280px;
  height: 280px;
}
/* por que este elemento no tiene la clase de las imagenes? */
.portada-portfolio {
  padding-top: 20px;
}

.formulario-de-contacto-seccion-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faf7f1;
  /* innecesario */
  min-height: 100vh;
}
.formulario {
  background-color: #f8f1f1;
  display: flex;
  border: solid 1px #94ec3bd5;
  border-radius: 20px;
  box-shadow: 0 0 29px 0 rgb(134 134 134 / 25%);
}
.form-contactame,
.form-escribime {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
}
.titulo-redes {
  line-height: 0px;
  padding: 10px;
}
.contenedor-link-redes i {
  margin: 10px;
}
.link-redes {
  text-decoration: none;
  color: #2e2e31;
}
.fab,
.fas {
  color: #76e409d5;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  border: solid 1px #f568b3;
}
.contenedor-link-redes:hover .fab,
.contenedor-link-redes:hover .fas {
  color: #ffffff;
  background-color: #76e409d5;
}

.contenedor-link-redes:hover .link-redes {
  color: #f568b3;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.control-mediano {
  width: calc(50% - 10px);
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  background-color: #dcdcf0;
  min-height: 40px;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
}
.form-control textarea {
  background-color: #dcdcf0;
  min-height: 40px;
  border-radius: 20px;
  padding: 10px;
  border: none;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 20px 0 rgb(245, 104, 179);
  outline: none;
}

.enviar {
  background-color: #94ec3bd5;
  border: 2px solid #f568b3;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Baloo Tammudu 2', cursive;
}
.enviar:hover {
  background-color: #fa7fc1;
  border: 2px solid #94ec3bd5;
}
footer {
  background-color: #f568b3;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot-link {
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
}
.iconos-del-footer {
  padding-top: 40px;
  padding-bottom: 20px;
}

.iconos-del-footer a {
  margin: 10px;
}

.iconos-del-footer .fab:hover,
.iconos-del-footer .fas:hover {
  background-color: #94ec3bd5;
  color: #ffffff;
  border: 1px solid #ffffff;
}

h5 {
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .control-mediano {
    width: 100%;
  }
  .foot-link {
    padding: 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .formulario {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .formulario,
  .contenedor-proyectos {
    max-width: 320px;
  }
  .form-control {
    max-width: 250px;
  }
  .form-contactame,
  .form-escribime {
    padding: 30px;
  }
  .link-redes {
    font-size: 16px;
  }
  .links-del-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 40px;
  }
}
